* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.app {
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}
.pageTitle {
  margin-top: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 3vw;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .app {
    padding-top: 80px;
  }
  .pageTitle {
    font-size: 6vw;
  }
}
